<div class='panel panel-default'>
	<div class='panel-heading'>Trending Recipes <span class='badge'>74</span></div>
	<div class='panel-body'>
		<p>Here is a list of featured recipes that you might adore! These have been rising in popularity among our community of culinary captivists. Check some out, or upload an image for processing to recieve a personalized list of recipes tailored to your current
			inventory.
		</p>
	</div>

	<table class='table'>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Details</th>
			<th>Difficulty
				<button type='button' class='btn btn-default btn-xs' aria-label='Sort'>
					<span class='glyphicon glyphicon-sort' aria-hidden='true'></span>
				</button>
			</th>
			<th>Time
				<button type='button' class='btn btn-default btn-xs' aria-label='Sort'>
					<span class='glyphicon glyphicon-sort' aria-hidden='true'></span>
				</button>
			</th>
			<th>Favorite</th>
			<th>Hide</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Chicken Parmesan</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>2</td>
			<td>55min</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
					<span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
				</button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
					<span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
				</button>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Beans & Rice w/ Roasted Chicken</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>1</td>
			<td>40min</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
                                        <span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
                                </button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Roasted Beet Salad w/ Curry Chicken</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>2</td>
			<td>30min</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
                                        <span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
                                </button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Chicken Pot Pie</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>2</td>
			<td>1hr 35min</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
                                        <span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
                                </button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Sous Vide Chicken Thighs</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>3</td>
			<td>4hrs</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
                                        <span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
                                </button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Fried Chicken</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>3</td>
			<td>55min</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
                                        <span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
                                </button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Chicken Tortilla Soup</td>
			<td><button type='button' class='btn btn-primary btn-xs' data-toggle='modal' data-target='#myModal'>Details</button></td>
			<td>1</td>
			<td>1hr 15min</td>
			<td>
				<button type='button' class='btn btn-warning btn-xs' aria-label='Favorite' data-toggle='modal' data-target='#favModal'>
                                        <span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>
                                </button>
			</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
	</table>
</div>
