<div class='panel panel-default'>
	<div class='panel-heading'>Ingredients <span class='badge'>124</span></div>
	<div class='panel-body'>
		<p>See exactly what our image processing software picked up on inside that jumbled mess of a fridge.</p><br>
		<a href='/home' role='button' class='btn btn-default'>Back to Recipes</a>
	</div>

	<table class='table'>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Remove</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Chicken Thighs</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
					<span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
				</button>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Black Beans</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Corn Tortillas</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Tomato Sauce</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Parmesan Cheese</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Eggs</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Milk (2%)</td>
			<td>
				<button type='button' class='btn btn-default btn-xs' aria-label='Remove' data-toggle='modal' data-target='#removeModal'>
                                        <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>
                                </button>
			</td>
		</tr>
	</table>
</div>
